@charset "utf-8";

.highlight .hll { background-color: #304070 }
.highlight  { background: #202020; color: #d0d0d0 }
.highlight .c { color: #999999; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .g { color: #d0d0d0 } /* Generic */
.highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight .l { color: #d0d0d0 } /* Literal */
.highlight .n { color: #d0d0d0 } /* Name */
.highlight .o { color: #d0d0d0 } /* Operator */
.highlight .x { color: #d0d0d0 } /* Other */
.highlight .p { color: #d0d0d0 } /* Punctuation */
.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #d0d0d0 } /* Literal.Date */
.highlight .m { color: #3677a9 } /* Literal.Number */
.highlight .s { color: #ed9d13 } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #24909d } /* Name.Builtin */
.highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .no { color: #40ffff } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: #d0d0d0 } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #447fcf } /* Name.Function */
.highlight .nl { color: #d0d0d0 } /* Name.Label */
.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: #d0d0d0 } /* Name.Other */
.highlight .py { color: #d0d0d0 } /* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #40ffff } /* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight .sx { color: #ffa500 } /* Literal.String.Other */
.highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .vc { color: #40ffff } /* Name.Variable.Class */
.highlight .vg { color: #40ffff } /* Name.Variable.Global */
.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */

/*Reset*/
html,body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}
img {border:0;}

html {
  font-size:1em;
  background:#2B2B3C;
  height: 100%;
}

body {
  font-family:"WenQuanYi Micro Hei","Microsoft Yahei",helvetica,sans-serif;
  background-color:#EEEFFF;
  color:#242424;
  border:1px solid #AAA;
  border-top:0;
  border-bottom:0;
  margin:0 auto;
  padding:0 29px;
  word-wrap:break-word;
  max-width:900px;
  min-height: 100%;
  position:relative;
  line-height:180%;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  display:block;
  margin:1.4em 0 0.4rem 0;
  font-weight:bold;
  color:#444;
  line-height:140%;
}
h1:lang(zh) {
  letter-spacing:1px;
}
h1:lang(zh),h2:lang(zh),h3:lang(zh),
:lang(zh) h1,:lang(zh) h2,:lang(zh) h3 {
  text-align:center;
}
h1 {font-size:1.8em;margin-bottom:0.8em;}
h2 {font-size:1.6em;margin-bottom:0.8em;}
h3 {font-size:1.4em;margin-bottom:0.6em;}
h4 {font-size:1.3em;margin-top:1.2em;}
h5 {font-size:1.2em;margin-top:1em;}
h6 {font-size:1.1em;margin-top:0.6em;}

p {
  margin:1.2em 0 0.4em 0;
}
:lang(zh) p,p:lang(zh) {
  text-indent:2em;
}

ul,ol {
  margin:0.8em 2em;
}
ol:lang(zh) {
  list-style-type:cjk-ideographic ;
}
ul { list-style-type: circle; }
li {
  margin:2px 0;
}
li ul {
  list-style-type:cycle(disc circle square circle);
}
ul ul {
  list-style-type: disc;
}
ul ul ul {
  list-style-type: circle;
}
ul ul ul ul {
  list-style-type: square;
}
ul ul ul ul ul {
  list-style-type: circle;
}
ul ul ul ul ul ul { /*It's funny!Huh?*/
  list-style-type: disc;
}

li {
  padding:4px 0;
}

hr{
    border:none;
    border-bottom:1px solid #cfcfcf;
    margin:12px 0;
    height:0px;
}

br {
  display:block;
  float:none;
  clear:both;
  width:0;
  height:0;
  line-height:0;
  overflow:hidden;
}

blockquote {
  margin: 12px 0;
  color:#444;
  padding: 8px 1em;
  background:#FAFAFA;
  border-left: 6px solid #06B;
}
blockquote blockquote {
  padding: 0 0 0 1em;
  margin-left: 2em;
}
acronym, abbr {
  border-bottom:1px dotted teal;
  padding:0 2px 2px 2px;
  cursor:help;
}
del {text-decoration: line-through;}
q:before,q:after {content:''}
:lang(zh) q:before,q:lang(zh):before {content: '「';}
:lang(zh) q:after,q:lang(zh):after {content: '」';}

em,cite {
  font-style:normal;
  padding:0 4px;
  color:#000;
}
i {
  font-style:italic;
}

sub, sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

a {
  text-decoration: none;
  color:navy;
  cursor:pointer;
}
p a {
padding:0 4px;
}
a:hover {
  color:#00B;
  text-decoration: underline;
}
a:active {
  color:#DD4B39;
}
a:visited {
  color:#309;
}
a.normal,a.normal:hover,a.normal:visited {
  color:inherit;
  text-decoration:none;
  cursor:default;
}

li a,li a:hover,.link-list a,.link-list a:hover,
small a,small a:hover {
  color:#2828A0;
}

li a:visited,.link-list a:visited,small a:visited {
  color:Indigo;
}

h2 a,h3 a,h4 a {
  color:inherit;
}

ins {text-decoration: none;}
u  {text-decoration: underline;}

mark {background: #F8FFE4;}
small, figcaption {
  font-size: 12px;
  color: #333;
}

pre, code {
  font-family:"DejaVu Sans Mono","WenQuanYi Micro Hei Mono","Ubuntu Mono",Menlo,Monaco,"Courier New", Courier, monospace;
  white-space: pre;
  word-wrap: break-word;
  word-break: break-all;
}

pre code {
  white-space: pre;
  border:none;
  background:none;
}

pre {
  line-height:120%;
}
pre  i {
  font-style:normal;
}


pre {
  background:#020202;
  background-clip: border-box;
  padding:10px;
  border:0 solid #EEF;
  border-radius:12px;
  color:#D0D0E0;
  white-space: pre-wrap;
}

.highlight pre {
  background:none;
  padding:0;
  border:none;
}

pre.terminal {
  color:#0D0;
}

code {
  word-break:keep-all;
  white-space:nowrap;
  background:#EAEAFA;
  color:black;
  border:1px solid #ABF;
  border-radius:4px;
  padding:2px;
  margin:0 2px;
}



div.highlight {
  padding:10px;
  background-clip: border-box;
  border-radius:8px;
  margin:0;
  display:table;
}

.highlighttable .linenodiv pre {
  word-break:keep-all;
  white-space:pre;
}

div.center>div.highlight,div.center>.highlighttable {
  margin:0 auto;
}
code.sh,code.highlight {
  border:none;
  padding:2px 4px;
  background-clip: border-box;
  border-radius:4px;
  margin:0 2px;
  background:#020202;
  color:#D0D0D0;
  white-space: nowrap;
}
code.sh {
  color:#0D0;
}

.highlight pre,.highlighttable pre {
  margin:0;
  background:inherit;
  border:0;
  padding:0;
}

.highlighttable {
  border-collapse: collapse;
  border-spacing: 0;
  background:#202020;
  background-clip:border-box;
  border-radius:8px;
  margin:0;
  margin-bottom:18px;
}
.highlighttable td,.highlighttable th {
  background:transparent;
}

.highlighttable  {
  color:#CCC;
}
.highlighttable div.highlight {
  padding:0;
  border-radius:0;
  margin:0;
}
.highlighttable pre {
  margin:0;
  border:none;
}
.highlighttable td  {
  padding:6px;
}
.highlighttable td.linenos {
  border-right:1px solid #9A9;
}

table {
  margin:14px auto;
  border-color:#FFE;
  border-width:2px;
}
table td ,table th {
  padding:8px;
  background-color:#E0E6EF;
}

table.plain {
  border-collapse: collapse;
    border-spacing: 0;
    border:none;
}

table.plain th, table.plain td,table.plain caption{
    border: 1px solid #DDD;
}
table.plain th {
    background: #fbfbfb;
    font-weight:bold;
    color:#666;
}
table.plain caption {
  color:#666;
}
table.plain thead th{
    background: #f1f1f1;
}
table.plain .caption {
    border-bottom:none;
}

.vertical-thead th {
  text-align:center;
  width:1em;
}

.site-header {
  font-family: Georgia, TimesNewRoman, 'Times New Roman', Times;
  padding-bottom:6px;
  margin-bottom:8px;
  border-bottom:1px solid silver;
  padding-top:2px;
}
.site-header h1 {
  font-size:200%;
}

nav.header a {
  width:auto;
  font-size: 24px;
  height:24px;
  overflow: hidden;
  line-height: 100%;
  padding: 10px;
  padding-top: 6px;
  padding-left: 8px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  font-weight: normal;
  margin-right:10px;
  margin-bottom:4px;
  vertical-align: bottom;

}
nav.header a:hover {
  text-decoration:none;
}


nav.header a.emailMe {

  background: #0984EE;
  color:white;

}

nav.header a.emailMe svg {
  top:3px;
}

nav.header a.emailMe:hover {
  background: #0674CC;
}



nav.header a svg {
  width: 24px;
  height: 24px;
  position: relative;
  top: 2px;
  left:2px;
}

nav.header  .twitterJex {
  color: white;
  background-color: #1f95e1;
}

nav.header .twitterJex:hover {
  background-color: #0c7abf;
}

nav.header  .githubJex {
  color: black;
  background-color: #C0C0CF;
}

nav.header  .githubJex:hover {
  background-color: #A0A5Aa;
}



.site-title {
  margin:1.2rem 0 0.6rem 0;
}


.site-title a,.site-title a:hover,.site-title a:visited {
  color:#336;
  text-decoration:none;
}



.site-footer {
  height:15px;
  text-align:center;
  padding:30px 0;
  border-top:1px solid #CFCFCF;
  margin-top:12px;
}
.site-footer img {
  vertical-align:middle;
}
.site-footer small {
  font-size:12px;
  line-height:14px;
}
section.category-posts {
  float:left;
  margin-right:40px;
  margin-right:1em;
}
section.category-posts h2 {
  margin:1.2rem 0 0 0;
}
section.category-posts h2 a {
  color:inherit;
}
section.category-posts h2 a:hover {
  color:navy;
}

ul.posts-list li {
  list-style-type:square;
  color:#889;
  border-bottom:1px dashed #CCF;
  padding-right:4px;
  padding-left:2px;
}
ul.posts-list li small {
  float:right;
  clear:both;
  padding-left:4em;
}

nav.near-posts {
  height:36px;
  padding:0 44px;
}
nav.near-posts a {
  display:block;
  width:50%;
  height:36px;
  line-height:36px;
  text-decoration:none;
  position:relative;
  float:left;
}
nav.near-posts a i {
  position:absolute;
  top:0;
  padding:0;
  color:gray;
  font-size:36px;
  font-style:normal;
  display:block;
  height:36px;
  width:36px;
}
nav.near-posts a em {
  display:block;
  width:100%;
  height:36px;
  line-height:44px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:inherit;
  padding:0;
}
nav.near-posts a:hover {
  text-decoration:none;
}
nav.near-posts a:hover em {
  text-decoration:underline;
}
nav.near-posts a[rel=prev] {
  float:right;
}
nav.near-posts a[rel=prev] i {
  right:-40px;
  padding-left:4px;
}
nav.near-posts a[rel=prev] em,
nav.near-posts a.prev em {
  text-align:right;
}
nav.near-posts a[rel=next] i {
  left:-40px;
  padding-right:4px;
}


.error,.error h2 {
  color:#05A;
}
.category-page {
  margin-bottom:2rem;
}
.category-page h2  {
  font-size:1.2rem;
  padding:0 2px 4px 0;
  margin:8px 0;
  line-height:180%;
  border-bottom:1px dashed #AAA;
}
.category-page h2,.category-page h2 a {
  color:#555;
}
.category-page h2 small {
  float:right;
  font-weight:normal;
}

article {
  padding-bottom:30px;
}
.article-title {
  margin:30px auto 0 auto;
  color:#005AE0;
  text-align:center;
  line-height:200%;
  padding:12px 40px;
  padding-bottom:0;
}

.title-info {
 padding-bottom:16px;
 margin-bottom:24px;
 text-align:center;
 border-bottom:1px solid #AAB0BB;
}
.title-info small {
  display:block;
  font-weight:normal;
  color:#888;
  line-height:100%;
  font-size:66%;
}

.category-path {
  font-size:14px;
  width:100%;
  line-height:26px;
  border-bottom:1px dashed gray;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space:nowrap;
}
.category-path em {
  color:#666;
}
.category-path a:first-child {
  color:blue;
  font-weight:bold;
}

.github-fork {
  display:block;
  width:149px;
  height:149px;
  position:absolute;
  right:-1px;
  top:0;
}


p.project-link {
  margin:24px 0;
}

.text-center {
  text-align:center;
}
.text-right{
  text-align:right;
}

.warning {
  background-color:#D9544F;
  border:1px solid #D43F3B;
  border-radius:4px;
  padding:6px 12px;
  color:white;
}

.math {
font-family:MathJax_Main,sans-serif;
}


#disqus_thread {
  margin:18px auto;
}

@media print {
  #disqus_thread {
    display:none;
  }
}


