---
layout: base.html
---

<% content_for :page_content do %>
  <%= include 'header.html' %>
  <% site.data.subs.sort_by {|cat| cat.name}.each do |cat| %>
    <% next if cat.posts.empty? %>
    <section class="category-posts">
      <h2><a href="<%= site.url_for cat%>/index.html" rel="category"><%=cat.display_name%></a></h2>
      <ul class="posts-list">
        <% cat.posts.take(10).each do |p| %>
        <li><a href="<%=p.url%>"><%=html_escape p.title%></a><small><time><%=p.date%></time></small><br/></li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <section class="category-posts">
    <h2><a href="https://github.com/CJex/" target="github" rel="category">Projects</a></h2>
    <ul class="posts-list">
      <li><a href="https://jex.im/PlainSite/" target="_blank" >PlainSite：A Truely Hackable Static Site Generator. </a><small><time>2013-04-01</time></small><br/></li>
      <li><a href="https://jex.im/regulex/" target="_blank" >Regulex：Regular Expression Excited!</a><small><time>2014-11-11</time></small><br/></li>
    </ul>
  </section>
  <br />
<% end %>
