---
layout: base.html
---

<% content_for :page_title do %>
  <%=title %>
<% end %>


<% content_for :page_content do %>
<nav class="category-path">
   <a href="<%=site.url_for "/" %>" rel="home">Home</a> »
    <% category.to_a[1..-1].each do |cat| %>
    <a href="<%=site.url_for cat %>/index.html" rel="category"><%=cat.display_name%></a> »
    <% end %>
    <em><%= title %></em>
</nav>

  <h1 class="article-title">
    <a href="<%=url%>" rel="self" class="normal"><%= title %></a>
  </h1>
  <div class="title-info">
    <small><a href="<%=site.url%>" rel="author" class="normal"><%=site.author%></a> — <time><%=date%></time></small>
  </div>


  <%
  ltag="lang='#{lang}'" if respond_to? :lang
  %>
  <article <%=ltag%> id="main">
    <%=self.content%>
    <% if respond_to? :project_name %>
      <p>Github：<a target="_blank" href="<%=site.github_url + project_name%>" rel="alternate"><%=site.github_url + project_name%></a></p>
    <% end %>
  </article>
  <hr />
  <% if prev_post || next_post %>
    <nav class="near-posts link-list">
    <% if next_post %>
            <a href="<%=next_post.url%>" rel="next"><i>⇦</i><em><%=html_escape  next_post.title%></em></a>
        <% end %>
        <% if prev_post %>
            <a href="<%=prev_post.url%>" rel="prev" class="prev"><i>⇨</i><em><%=html_escape prev_post.title%></em></a>
        <% end %>
    </nav>
    <hr />
  <% end %>

  <% if site.config['disqus_id'] %>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = "<%= site.config['disqus_id'] %>";
        var disqus_config = function () {
          this.page.url = "<%= File.join $site.url,url %>";
          this.page.identifier = "<%= data_id %>";
          this.page.category_id = "<%= category.data_id %>";
          this.page.title = "<%= title%>";
        };

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <% else %>
      <p>Configure <code>disqus_id</code> in <code>_src/config.yml</code> to enable comments!</p>
  <% end %>

<% if respond_to? :project_name %>
  <a class="github-fork" target="_blank" href="<%=site.github_url + project_name%>" rel="alternate"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" width="149" height="149" /></a>
<% end %>
<!-- Build: <%= Time.now%> -->
<% end %>
